# =============================================================================
# AlphaPanel-Docker — .gitattributes
# =============================================================================

php-code-server/*/php.ini merge=union
