(common-headers) {
	header {
		X-Frame-Options "SAMEORIGIN"
		X-XSS-Protection "1; mode=block"
		X-Content-Type-Options "nosniff"
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"

		-x-powered-by
		X-Powered-By "Cryptograph"

		-via
		Via "Cryptograph"

		-server
		Server "Cryptograph"
	}
	# Statik dosyalar için uzun cache (1 yıl)
	@static {
		path *.css *.js *.mjs *.map
		path *.png *.jpg *.jpeg *.gif *.webp *.svg *.ico
		path *.woff *.woff2 *.ttf *.otf *.eot
		path *.mp4 *.webm *.avif
	}
	header @static Cache-Control "public, max-age=31536000, immutable"

	# HTML için cache kapat / azalt (Laravel / PHP siteleri için güvenli)
	@html {
		header Content-Type *text/html*
	}
	header @html Cache-Control "no-cache, no-store, must-revalidate"
	header @html Pragma "no-cache"
	header @html Expires "0"
}
(waf-common) {
	route {
		coraza_waf {
			load_owasp_crs
			directives `
				SecRuleEngine On
				SecAuditEngine RelevantOnly
				SecAuditLog /var/log/coraza/audit.log
				SecAuditLogFormat JSON
				SecAuditLogType Serial
				SecAuditLogParts ABIJDEFHZ
				Include /etc/frankenphp/waf/generated/global.conf
				Include /etc/frankenphp/waf/generated/domains/*.conf
	        `
		}
	}
}
(waf-common-detection-only) {
	route {
		coraza_waf {
			load_owasp_crs
			directives `
				SecRuleEngine DetectionOnly
				SecAuditEngine RelevantOnly
				SecAuditLog /var/log/coraza/audit.log
				SecAuditLogFormat JSON
				SecAuditLogType Serial
				SecAuditLogParts ABIJDEFHZ
				Include /etc/frankenphp/waf/generated/global.conf
				Include /etc/frankenphp/waf/generated/domains/*.conf
	        `
		}
	}
}
(common-tls) {
	# tls {
	#     dns cloudflare {env.CF_API_TOKEN}
	#     resolvers 1.1.1.1
	# }
}

{
	admin localhost:2019

	servers {
		client_ip_headers CF-Connecting-IP X-Forwarded-For X-Real-IP

		trusted_proxies static 173.245.48.0/20 103.21.244.0/22 103.22.200.0/22 103.31.4.0/22 141.101.64.0/18 108.162.192.0/18 190.93.240.0/20 188.114.96.0/20 197.234.240.0/22 198.41.128.0/17 162.158.0.0/15 104.16.0.0/13 104.24.0.0/14 172.64.0.0/13 131.0.72.0/22 2400:cb00::/32 2606:4700::/32 2803:f800::/32 2405:b500::/32 2405:8100::/32 2a06:98c0::/29 2c0f:f248::/32 127.0.0.1/32 192.168.58.0/24 192.168.31.0/24 172.18.0.0/16
	}

	email {env.ADMIN_EMAIL}
	frankenphp
	#debug
}

import ./sites-enabled/*/Caddyfile
